node_modules

# vim temp files
*.sw?

# mac files
*.DS_Store

npm-debug*

trash

# ignore dist bundles
dist/miru.js
dist/miru-connect.js
dist/miru.js*
dist/miru-connect.js*


# ignore stage files
test/stage/miru-connect.js
test/stage/bundle.*

# ignore ./srccli.js generated testing miru-connect.js
miru-connect.js
